/* PP Neue Montreal */
@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/ppneuemontreal/PPNeueMontreal-Thin.woff2') format('woff2'),
       url('/fonts/ppneuemontreal/PPNeueMontreal-Thin.woff') format('woff');
  font-weight: 100;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/ppneuemontreal/PPNeueMontreal-Book.woff2') format('woff2'),
       url('/fonts/ppneuemontreal/PPNeueMontreal-Book.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/ppneuemontreal/PPNeueMontreal-Italic.woff2') format('woff2'),
       url('/fonts/ppneuemontreal/PPNeueMontreal-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/ppneuemontreal/PPNeueMontreal-Medium.woff2') format('woff2'),
       url('/fonts/ppneuemontreal/PPNeueMontreal-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/ppneuemontreal/PPNeueMontreal-SemiBolditalic.woff2') format('woff2'),
       url('/fonts/ppneuemontreal/PPNeueMontreal-SemiBolditalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'PP Neue Montreal';
  src: url('/fonts/ppneuemontreal/PPNeueMontreal-Bold.woff2') format('woff2'),
       url('/fonts/ppneuemontreal/PPNeueMontreal-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

/* Neue Montreal */
@font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/neuemontreal/NeueMontreal-LightItalic.woff2') format('woff2'),
        url('/fonts/neuemontreal/NeueMontreal-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/neuemontreal/NeueMontreal-BoldItalic.woff2') format('woff2'),
        url('/fonts/neuemontreal/NeueMontreal-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/neuemontreal/NeueMontreal-Bold.woff2') format('woff2'),
        url('/fonts/neuemontreal/NeueMontreal-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/neuemontreal/NeueMontreal-Light.woff2') format('woff2'),
        url('/fonts/neuemontreal/NeueMontreal-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/neuemontreal/NeueMontreal-Italic.woff2') format('woff2'),
        url('/fonts/neuemontreal/NeueMontreal-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/neuemontreal/NeueMontreal-Medium.woff2') format('woff2'),
        url('/fonts/neuemontreal/NeueMontreal-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/neuemontreal/NeueMontreal-Regular.woff2') format('woff2'),
        url('/fonts/neuemontreal/NeueMontreal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Neue Montreal';
    src: url('/fonts/neuemontreal/NeueMontreal-MediumItalic.woff2') format('woff2'),
        url('/fonts/neuemontreal/NeueMontreal-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}



